/*body {
  margin: 0; 
  height: 100vh;
  background-image: url('https://img.freepik.com/foto-gratis/sabrosa-pizza-cerca-ingredientes_23-2147772080.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1714521600&semt=ais');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/
/*.homeContainer{
  height: 100vh;
  background-image: url('https://img.freepik.com/foto-gratis/sabrosa-pizza-cerca-ingredientes_23-2147772080.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1714521600&semt=ais'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

} */

.contenedorBotones {
  text-align: center;
  padding: 20px;
  
}
.separadorBloques {
  margin: 20px;
}
.detalleBloques {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
}
.presentacion {
  text-align: center;
  color: black;
  padding-top: 20px;
  font-size: 40px;
}
