
.menu{
    background-color:#ac2424;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .items{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;

}



.menu .items .links{
    padding: 7px 13px;
    text-decoration: none ;
    font-size: 18px;
    display: block;
    color: white ;
    text-align: center;
    
}

.botonSesion{
    padding-left: 500px;
}