body {
    background-image: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-goumbik-616401.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
  
  .cantidad {
    padding: 2px;
    margin: 2px;
    height: 20px;
    width: 35px;
    border-radius: 35%;
    border: none;
    background-color: #e74c3c;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
}
.botonResta,
.botonSuma {
    
    padding: 2px;
    margin: 2px;
    height: 20px;
    width: 30px;
    border-radius: 35%;
    border: none;
    background-color: #e74d3cab;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    cursor: pointer;
}

.botonResta:hover,
.botonSuma:hover {
    background-color: #e74c3c;
}

.trash-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.trash-icon {
    width: 24px;
    height: 24px;
    color: #333;
    transition: color 0.3s;
}

.trash-button:hover .trash-icon {
    color: #e74c3c;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border-radius: 10px;
}

.contenedor {
    box-shadow: 0 6px 20px 0 rgba(255, 0, 0, 0.678);
    border-radius: 15px;
    padding: 0 auto;
    width: 0 auto;;
    backdrop-filter: blur(7px);
}

.encabezado {
    background-color: #f5575748;
    padding: 10px 5px;
    border-radius: 15px 15px 0px 0px;
    padding: .8rem .1rem;
    backdrop-filter: blur(5px);
}

.titulo {
    text-align: center;
}

.cuerpo {
    background-color: rgba(221, 186, 186, 0.733);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 15px 15px;
    overflow: auto;
    margin: .8rem auto;
    width: 95%;
}

.cuerpo::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.cuerpo::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.cuerpo:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.cuerpo > table {
    border-collapse: collapse; /* Para asegurarte de que los bordes no se dupliquen */
    border: none; /* Quitar el borde de la tabla */
}

.categorias > th {
    padding: 20px 15px;
    text-transform: uppercase;
    top: 0px;
    left: 0px;
    background-color: #f55757;
    color: white;
}

.categorias > th, td {
    border-collapse: collapse;
}

.descripciones > tr > td {
    padding: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.19);
    text-align: center;
}

.descripciones > tr:hover {
    background-color: #fff6;
}

.descripciones > tr:nth-child(even) {
    background-color: #0000000b;
}

.descripciones > tr > td > img {
    height: 70%;
    width: 70%;
}