

.menu {
    background-color: #ac2424;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 20px; */
    position: relative;
}

.menu .items {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    /* justify-content: center; Centrar los elementos del menú */
}

.menu .items li {
    margin-right: 15px;
    transition: all 0.3s ease;
    /* Transición para suavizar el efecto */
}

/*.menu .items li:last-child {
    margin-right: 0;  Remover el margen derecho del último elemento 
  }*/

/* .menu .items li:hover ~  .delayed-button {
    opacity: 1;
  } */


.menu .items .links {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-align: center;
    display: block;
    transition: font-size 0.3s ease, color 0.3s ease;
    /* Transición para suavizar el cambio de tamaño y color */
}

.menu .items li:hover .links {
    font-size: 20px;
    /* Tamaño de la letra agrandado */
    color: yellow;
    /* Nuevo color del texto */
}

.botonSesion {
    position: absolute;
    right: 20px;
    /* Ajusta según sea necesario */
    /* display: flex;
    align-items: center; */
}

.imagenBoton {
    background-color: #c22b2b;
    border: none;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenBoton:hover {
    background-color: rgb(139, 30, 30);
    transition: background-color 0.7s ease 0.05s;
}

.imagenBoton:focus {
    outline: none;
}

.imagenBoton>img {
    height: 70%;
    /* Ajusta el tamaño de la imagen según sea necesario */
    width: 70%;
    /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%;
    /* Hace que la imagen sea redonda */
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        height: auto;
        padding: 10px;
        position: static;
        /* Resetear la posición del menú en vista móvil */
    }

    .menu .items {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu .items li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .botonSesion {
        width: 100%;
        justify-content: center;
        position: static;
        /* Resetear la posición del botón en vista móvil */
        margin-top: 10px;
        /* Agregar margen superior para espaciar del menú */
    }

    .botonSesion button {
        width: 100%;
        margin-left: 0;
    }
}