body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(to bottom, #6d2020, #632b2b, #3e2424);
    padding-top: 80px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    width: 100%;
}

.presentacion {
    color: white;

}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 45px auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 40px;
    color: white;
}

.contenedor > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #791c1c;
    height: 0 auto;
    width: 300px;
    border-radius: 20px;
    flex-direction: column;
    /* padding-top: 35px; */
    padding: 30px 15px;
    gap: 25px;
    flex: 1 1 300px;
}

.contenedor > div > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor > div > form > input,
select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: black;
}

option {
    color: black;
}

.button {
    margin-top: 20px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: black;
}

.contenedorProductos h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
}

.mostrarProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el número de columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
}

.mostrarProductos > div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #492222;
    border-radius: 20px;
}

.contenedorProductos > h2 {
    color: white;
}

.botonesCards {
    height: 30px;
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 5px;

}
