@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #ac2424;
    max-height: 500px;
    overflow: hidden;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
    max-height: 400px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 350px; /* Aumenta el tamaño de la imagen */
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .mapa iframe {
    width: 100%;
    height: 150px; /* Ajuste la altura del iframe */
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #ac2424;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    max-height: 100px;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 25px 0px;
    }

    .pie-pagina .grupo-1 .mapa iframe {
        height: 350px;
    }
}

.texto h2 {
    text-align: center;
}