.contenedorCarrito {
    margin: 0 autos;
    max-width: 700px;
    width: 85%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: transparent;
    margin-top: 5%;
}

.carrito {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.presentacion {
    text-align: center;
}