.logo {
  text-align: center;
  background-color: #ac2424;
}

.logo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .logo img {
    width: 70%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .logo img {
    width: 100%;
    height: auto;
  }
}
