.contacto {
    background-color: #ac2424;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 20px;
}

.redes, .formulario, .mapa {
    flex: 1;
    margin: 10px;
    max-width: 30%;
}

.redes {
    text-align: center;
    border-right: solid white 2px;
}

.redes figure img {
    width: 100%;
    max-width: 300px;
}

.formulario {
    color: white;
    text-align: center;
}

.formulario input,
.formulario textarea {
    background-color: rgb(238, 231, 231);
    width: 100%;
}

h4 {
    margin-bottom: 30px;
}

.btn-contacto {
    background-color: #c22b2b !important;
    border: #c22b2b !important;
    color: white;
    width: 150px;
}

.btn-contacto:hover {
    background-color: rgb(139, 30, 30) !important;
}

.mapa iframe {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #c22b2b;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
        align-items: center;
    }

    .redes, .formulario, .mapa {
        max-width: 100%;
    }

    .redes {
        border-right: none;
        border-bottom: solid white 2px;
    }
}