.contacto {
    background-color: #ac2424;
    margin-bottom: 2px;
}

.redes {
    margin: 40px;
    padding: 20px;
    border-right: solid white 2px;
    
}

.bi{
    color: white;
    font-size: 30px;
    margin:10 px;
}

.formulario{
    margin:30px;
    color:white;
    text-align: center;
}

.formulario input{
    background-color: rgb(238, 231, 231);
}

.formulario textarea{
    background-color: rgb(238, 231, 231);
}

h4 {
    margin-bottom:30px;
}

.btn-contacto{
    background-color: #BBDEB1;
    border: #BBDEB1;
    color: #ac2424;
    width: 150px;
}

.btn-contacto:hover {
    background-color: #8ba384;
}

.mapa{
    margin:30px;
}
