.contacto {
    background-color: #ac2424;
    margin-bottom: 2px;
}

.redes {
    margin: 40px;
    padding: 20px;
    border-right: solid white 2px;
    
}

.bi{
    color: white;
    font-size: 30px;
    margin:10 px;
}

.formulario{
    margin:30px;
    color:white;
    text-align: center; 
    align-items: center;
}

.formulario input{
    background-color: rgb(238, 231, 231);
    width: 400px;
}

.formulario textarea{
    background-color: rgb(238, 231, 231);
    width: 400px;
}

h4 {
    margin-bottom:30px;
}

.btn-contacto{
    background-color: #c22b2b;
    border: #c22b2b;
    color: white;
    width: 150px;
}

.btn-contacto:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.mapa{
    margin:30px;
}

figure img {
    width: 250px; /* Aumenta el tamaño de la imagen */
}
.footer {
    background-color: #c22b2b;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}
 