<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(/rotiseria/public/imagenes/imagenesCarrusel/raviolesSalsa.jpeg);">
            <div class="content">
                <div class="name">Ravioles</div>
                <div class="des">Son ravioles con salsa riquisimos</div>
                <button>See More</button>
            </div>
            </div>
        </div>
    </div>

</body>
</html>